body{
    background-image: url(../media/img/SAFARI\ SQUAD\ fondo.png);
    background-position: 40% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(to right top, #051937, #004864, #017b80, #66ad8c, #c6da99);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Variables de los colores*/
:root{
    --blue : #0d4f9b42;
    --pink : #EC00B8;
    --magenta : #FF0071;
    --orange : #FF683E;
    --oranche-yellow : #FFBB33;
    --yellow : #F9F871;
    --red : #dd000023;
    --colores : #eaf1d85f;
} 
.header{
    background-color: var(--blue);
    border-radius: 6px;
    height: 20vh;
    width: 100vh;
    margin-bottom: 15px;
    color: #fff;
    padding: 20px;
}

#logo{
    
}

.sec{
    background-color: var(--red);
    border-radius: 6px;
    /*height: 80vh;*/
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer{
    position: fixed;
    bottom: 0;
    left: 1;
    background-color: var(--blue);
    /*border-radius: 6px;*/
    height: 10vh;
    width: 100vh;
    margin-top: 15px;
    color: #fff;
}
.width{
    width: 100vh;
}
.TOTAL{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1120px;
}
.header li{
    list-style-type: none;
    display: flex;
}
.header li ul a{
    text-decoration: none;
    color: #fff;
    background-color: #EC00B8;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px black ;
    transition: transform 0.2s ease-in-out;
}
.header li ul a:hover {
    transform: scale(1.1);
}

.music{
    margin: 0 20px;
    display: flex;
}
.music button{
    color: #fff;
    background-color: #ec00b994;
    border: 0px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px black;
    padding: 0 20px 0 20px;
    transition: transform 0.1s ease-in-out;
}
.music button:hover {
    transform: scale(1.1);
    background-color: #ec00b9e1;
}

.alias{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.imgAlias{
    width: 210px;
    margin-bottom: 15px;
}

#inputAlias{
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 15px;
    text-align: center;
    
}

.botonAlias{
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    border-color: #FF683E;
    background-color: #FFBB33;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    width: 100px;
    cursor: pointer;
}

#cronometro{
    padding-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}


